.mainContainer {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.redLight {
  position: absolute;
  top: 251px;
  left: -102px;
  width: 259px;
  height: 259px;
  background: #961a1a;
  opacity: 0.5;
  filter: blur(196px);
}

.purpleLight {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -154px;
  width: 311px;
  height: 311px;
  background: #833ab4;
  opacity: 0.5;
  filter: blur(196px);
  z-index: -1;
}

.redBall {
  position: absolute;
  left: 31%;
  top: 63px;
  z-index: -1;
}

.redBallSmall {
  position: absolute;
  left: 60%;
  top: 523px;
  z-index: -1;
}

.purpleBall {
  position: absolute;
  left: 62%;
  top: -20px;
  z-index: -1;
}

@media (max-width: 35em) {
  .mainContainer {
    background: url("assets/mobile-bg.png") 100% 100% / cover no-repeat;
  }
  .redLight {
    display: none;
  }

  .purpleLight {
    display: none;
  }

  .redBall {
    display: none;
  }

  .redBallSmall {
    display: none;
  }

  .purpleBall {
    display: none;
  }
}
