.nav {
  display: flex;
}

.navLink {
  position: relative;
  display: block;
  margin-right: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--base-color);
  text-decoration: none;
}
.navLink:visited {
  color: var(--base-color);
}
.navLink:last-of-type {
  margin-right: 0;
}
.navLink:hover {
  color: white;
}
.navLink:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  padding: 20px 0 20px 0;
  width: 100%;
  transform: translateY(-50%);
}

@media (max-width: 75em) {
  .nav {
    justify-content: center;
  }
  .navLink {
    margin-right: 20px;
  }
}

@media (max-width: 48em) {
  .navLink {
    margin-right: 10px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}

@media (max-width: 35em) {
  .nav {
    justify-content: space-between;
  }
  .navLink {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}
